doctype html 
html 
  head 
    title Contact Form
  
  body 
    h1 Hello World 

    //- p 
    //-   | Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
    //-   | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    p.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
      sed do eiusmod tempor incididunt ut 
      labore et dolore magna aliqua.

      Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

    div.container.mt-4.ayam#mycotent.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
